.iniBtn{
  border: none !important;
}
.itemBtn{
  border-color: #ddd !important;
  color: #636464 !important;
  font-weight: bold;
}
.bt_0,
.btn_active{
  background-color: #f3e4f7 !important;
  border-color: #9c27b0 !important;
  color: #9c27b0 !important;
}
