i {
    height: unset;
    width: unset;
    font-size: 20px;
}

.p-overlaypanel .p-overlaypanel-content {
    padding: 0 !important;
}

.p-card .p-card-body {
    padding: 0 !important;
}

.p-sidebar .p-sidebar-content {
    padding: unset !important;
}
