#card-product {
    .p-card .p-card-content{
        padding: 0.5rem 1rem;
        margin-bottom: 0.5rem;
    }

    .quantity {
        background-color: #eceff1
    }

    .selected-product {
        background-color: #F3E5F5 !important;
    }

    .card-content {
        width: 300px;
    }
}
