
.backorange {
    background-color: #f44336;
    color: white;
    text-align: center;
}

.orange {
    color: #f44336;
}

.pi-chevron-left:before {
    content: "\e900";
    color: #9c27b0;
}

.pi-chevron-right:before {
    content: "\e901";
    color: #9c27b0;
}
.wrap-detail-info{
	width: 35%
}

// .p-button {
//     background-color: white !important;
// }
