
#ng-chat-info {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 0.7rem;

    .chat-container {
        width: 280px;
        height: 350px;
        margin-right: 66px;
        margin-bottom: 85px;
        background-color: white;
        box-shadow: 0 4px 8px rgb(0 0 0 / 25%);
        border-radius: 10px !important;
        .chat-shop-message-container {
            display: flex;
            padding-left: 20px;
            padding-top: 10px;
            border-bottom: solid rgb(165, 165, 165) 1px;
            vertical-align: middle;

            img {
                width: 30px;
                height: 30px;
            }

            .shop-message-container {
                display: table;
                margin-bottom: 10px;
                width: 150px;
                height: 30px;

                .message-container {
                    display: table-cell;
                    vertical-align: middle;

                    span {
                        display: block;
                        margin-left: 10px;
                        margin-top: 0;
                    }

                    .message-con {
                        display: flex;
                        align-items: center;

                        span {
                            display: flex;
                            margin-top: 0;
                        }
                    }
                }
            }

            .shop-message-container-i {
                display: table;
                vertical-align: middle;
                height: 30px;
                padding-right: 10px;
                cursor: pointer;

                i {
                    display: table-cell;
                    vertical-align: middle;
                    font-size: 0.6rem;
                }
            }
        }

        .chat-shop-form-container {
            padding: 10px;

            .chat-form-container {
                text-align: center;

                .title {
                    font-size: 14px;
                    display: block;
                    margin-top: 5px;
                    margin-bottom: 10px;
                }

                .p-col-12 {
                    padding: 5px;

                    .p-inputgroup {
                        input[type=text]{
                            font-size: 12px;
                            border-top-right-radius: 6px;
                            border-bottom-right-radius: 6px;
                            padding:7px 7px 7px 0;
                            border-left: none;
                            border-color: #dee2e6;
                        }
                        .p-inputgroup-addon{
                            border-color: #dee2e6;
                            background-color: #fff;
                            border-top-left-radius: 6px;
                            border-bottom-left-radius: 6px;
                            padding-top:7px;
                            padding-bottom: 7px;
                            i{
                                font-size: 18px;
                                color: #607d8b;
                            }
                        }
                    }

                    p-togglebutton {
                        display: block;
                        margin-top: 5px;
                    }
                }
            }
        }
    }
    ::ng-deep .info-chat-btn{
        .p-togglebutton{
            background-color: #ecf0f0;
            color: #00695c;
            font-size: .75rem;
            padding: 15px 10px;
            border-radius: 20px;
            border: none !important;
            width: 75%;
            font-weight: bold;
        }
    }
    .chat-toogle {
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .message {
        font-size: 0.7rem;
        font-weight: bold;
        color: rgb(0, 51, 3);
    }

    .message-det {
        font-size: 0.6rem;
        color: #008b8c;
        margin-top: 0 !important;
    }
    .chat-shop-message-container-img{
        height: 30px;
        width: 30px;
        overflow: hidden;
        border-radius: 50%;
        img{
            width: 100%;
            height: auto;
        }
    }
}
