<div class="w-full pl-6 pt-4 flex flex-row">
    <div class="flex flex-column w-4">
        <div class="title text-sm font-bold">Servicio al cliente</div>
        <ul class="pt-3 m-0">
            <li class="text-xs mb-2">Preguntas frecuentes</li>
            <li class="text-xs mb-2">Cambios y devoluciones</li>
            <li class="text-xs mb-2">Términos y condiciones</li>
            <li class="text-xs mb-2">Política de privacidad</li>
            <li class="text-xs mb-2">Libro de reclamaciones</li>
        </ul>
    </div>
    <div class="flex flex-column w-4">
        <div class="title text-sm font-bold mb-3">Sobre la tienda</div>
        <div class="item text-xs mb-2">Horarios de atención</div>
        <div class="item text-xs mb-2">Todos los días 24 hrs</div>
        <div class="item text-xs mb-2">Info@minimarket.com</div>
        <div class="item text-xs mb-2">Ver dirección</div>
        <div class="item text-xs mb-2">Ver WhatsApp</div>
    </div>
    <div class="flex flex-column w-4">
        <div class="item title text-sm font-bold mb-3">Medios de pago</div>
        <div class="item text-xs mb-2">Contraentrega</div>
        <div class="item text-xs mb-2">Pago en efectivo</div>
        <div class="item text-xs mb-2">Todas las tarjetas</div>
        <div class="flex flex-row pt-2">
            <img class="h-2rem w-auto pr-1" src="../../../../assets/americanexpress.png" alt="">
            <img class="h-2rem w-auto px-1" src="../../../../assets/mastercard.png" alt="">
            <img class="h-2rem w-auto px-1" src="../../../../assets/paypal.jpg" alt="">
            <img class="h-2rem w-auto px-1" src="../../../../assets/visa.png" alt="">

        </div>
    </div>
</div>