.card {
    width: 25rem;
    height: 35rem;
}

.borderbutton {
    border-radius: 2rem !important;
}

.disabledbutton{
    background-color: #DDDDDD !important;
    border: 0px !important;
}

.activebutton {
    background-color: #45d0bd !important;
    border-color: #45d0bd !important;
}