<div id="recent-order-wrap">
  <div class="px-3 bg-white top-card-order">
    <div class="flex flex-row w-full align-items-center">
      <div class="flex flex-column w-1">
        <button pButton pRipple type="button" icon="pi pi-times"
          class="p-button-rounded p-button-secondary p-button-text" style="color: #0cc2a9"
          (click)="closeSideOrder()"></button>
      </div>

      <div class="font-bold text-xl">
        Mis pedidos
      </div>
      <div class="ml-auto search-box-top">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input class="inputSearch" type="text" pInputText placeholder="Ingresa el nro. pedido" (keypress)="onSearchRecentOrder($event)"/>
        </span>
      </div>
    </div>
  </div>
  <div class="flex flex-column p-2 bottom-card-order">
    <p-card class="py-1 px-2" *ngFor="let pedido of pedidos">
      <div class="w-full px-3 flex align-items-center">
        <div class="w-full">
          <div class="label-info-top inline-block font-bold p-1 w-auto mb-1 uppercase" [ngClass]="{
            unsent: pedido.IDEstado == 1,
            refused: pedido.IDEstado == 2,
            confirmed: pedido.IDEstado == 3,
            delievered: pedido.IDEstado == 4
            }">
            {{ pedido.IDEstadoDes }}
          </div>
          <div class="flex flex-row">
            <div class="w-full">
              <div class="flex flex-row mb-1">
                <div class="w-8 text-sm font-semibold">{{ pedido.TiendaDes }}</div>
                <div class="w-4 text-sm font-bold text-right">
                  S/ {{ pedido.Total.toFixed(2) }}
                </div>
              </div>
              <div class="flex flex-row">
                <div class="w-8 text-xs" style="color: #959595">
                  Nro: {{ pedido.Numero }}
                </div>
                <div class="w-6 text-xs text-right" style="color: #959595">
                  {{ pedido.PedidoDetalle.length }} productos
                </div>
              </div>
            </div>
            <div class="w-1">
              <button pButton pRipple type="button" icon="pi pi-arrow-right" class="button_arrow"
                (click)="openSideOrderSummary(pedido.IDPedido)"></button>
            </div>
          </div>
        </div>
      </div>
    </p-card>
    <div *ngIf="showOrderMore" class="flex justify-content-center pt-3 pb-2">
      <button pButton pRipple type="button"
        class="p-button-text p-button-rounded p-button-secondary font-bold btn-historial text-xs"
        (click)="onAddRecentOrder()">
        Ver más pedidos
      </button>
    </div>
  </div>
</div>
