<div class = "flex flex-row w-full footer-map py-2">
	<div class = "flex justify-content-start w-6">
	    <div class = "flex flex-row ml-5">
	    	<span>
	    		<a href="#">
	        		<i class="opacity-50 pi pi-facebook text-2xl mx-3"></i>
	    		</a>
	    	</span>
	    	<span>
	    		<a href="#">
	        		<i class="opacity-50 pi pi-twitter text-2xl mx-3"></i>
	    		</a>
	    	</span>
	    	<span>
	    		<a href="#">
	        		<i class="opacity-50 pi pi-youtube text-2xl mx-3"></i>
	    		</a>
	    	</span>
	    	<span>
	    		<a href="#">
	        		<i class="opacity-50 pi pi-check text-2xl mx-3"></i>
	    		</a>
	    	</span>
	    	<span>
	    		<a href="#">
	        		<i class="opacity-50 pi pi-check text-2xl mx-3"></i>
	    		</a>
	    	</span>
	    </div>
	</div>
	<div class = "flex justify-content-end w-6">
	    <div class = "text-xs font-bold mr-5">Tiendi SAC @ 2021</div>
	</div>
</div>
