<app-breadcrumb [items]="items" class="hidden"></app-breadcrumb>
<app-carousel [productos]="productos" (onEmitProductID)="emitProductID($event)"></app-carousel>

<p-sidebar [(visible)]="visibleSideBag" (onHide)="onClearOutlet()" position="right" [showCloseIcon]="false"
  [baseZIndex]="10000" styleClass="p-sidebar-md" class="pt-2">
  <app-bag *ngIf="visibleSideBag" (onCloseSideBag)="closeSideBag()"></app-bag>
</p-sidebar>

<p-sidebar [(visible)]="visibleSideBarLeft" (onHide)="onClearOutlet()" position="left" [showCloseIcon]="false"
  [baseZIndex]="10000" styleClass="p-sidebar-md" class="pt-2">
  <router-outlet name='left' (activate)="onOpenSidebarLeft()" (deactivate)="onCloseSidebarLeft()"></router-outlet>
</p-sidebar>

<p-sidebar [(visible)]="visibleSideBarRight" (onHide)="onClearOutlet()" position="right" [showCloseIcon]="false"
  [baseZIndex]="10000" styleClass="p-sidebar-md" class="pt-2">
  <router-outlet name='right' (activate)="onOpenSidebarRight()" (deactivate)="onCloseSidebarRight()"></router-outlet>
</p-sidebar>
