i {
    height: unset;
    width: unset;
    font-size: 20px;
}

.p-card .p-card-content {
    padding: .5rem 0 !important;
}

.ui-button-text-only .ui-button-text{
    display: none !important;
}

.p-overlaypanel .p-overlaypanel-content {
    background-color: #f8faf9 !important;
}

.whitebackground{
    background-color: white !important;
}
.button_cart{
	width: 45px; 
	height: 45px !important;  
	display: flex; 
	justify-content: center;
}
.car_button_float{
	position: relative;
	top: 30px;
}
.btn_card{
	background-color: #ecf0f0 !important;
}