<div class="pt-3 header_top_wrap">
  <app-header (onOpenSideRecentOrderMore)="openSideBarRight()" (onEmitCategoryID)="showProductsByCategoryID($event)"
    (onEmitSearchProducts)="onSearchProducts($event)"></app-header>
    <div class="flex justify-content-end pr-6 cart_buttom_wrap">
      <app-cart (onOpenSideBag)="openSideBag()"></app-cart>
    </div>
</div>
<app-content [hidden]="showProductDetail" (onEmitProductID)="onShowDetailProduct($event)"></app-content>

<app-detail *ngIf="showProductDetail"></app-detail>

<router-outlet></router-outlet>

<app-footer></app-footer>

<app-ng-chat-tiendi [adapter]="adapter" [userId]="userId"></app-ng-chat-tiendi>

<p-toast position="bottom-right" key="mgsBR"></p-toast>
