<div class="flex align-items-center flex-row p-3 bg-white my-1">
  <div class="flex flex-column w-1">
    <button pButton pRipple type="button" icon="pi pi-arrow-left"
      class="p-button-rounded p-button-secondary p-button-text" style="color: #0cc2a9"
      (click)="onBackRecentOrderMore()"></button>
  </div>
  <div class="flex align-content-center top_pedido_box justify-content-between">
  	<span class="pedido_text text-lg font-bold">
  		Pedido N°: {{pedido.Numero}}
  	</span>
  	<button (click)="onRepeatPedidoSetActual()">
  		<span class="text-sm font-bold">
  			Repetir pedido
  		</span>
  	</button>
  </div>
</div>
<app-recent-order-detail [pedido]="pedido"></app-recent-order-detail>

<app-dispatch-order [despacho]="pedido.Despacho"></app-dispatch-order>

<app-payment-order [formaPago]="pedido.FormaPago"></app-payment-order>
