<div class="flex align-items-center flex-row px-3 bg-white my-1">
  <div class="flex flex-column w-1">
    <button pButton pRipple type="button" icon="pi pi-arrow-left"
      class="p-button-rounded p-button-secondary p-button-text" style="color: #0cc2a9"
      (click)="onBackRecentOrderMore()"></button>
  </div>
  <div class="text-2xl w-6 flex align-content-center font-bold text-900" style="vertical-align: center">
    <b>Pedido No: {{pedido.Numero}}</b>
  </div>
  <div>
    Repetir Pedido
  </div>
</div>
<app-recent-order-detail [pedido]="pedido"></app-recent-order-detail>

<app-dispatch-order [despacho]="pedido.Despacho"></app-dispatch-order>

<app-payment-order [formaPago]="pedido.FormaPago"></app-payment-order>
