i {
    height: unset;
    width: unset;
    font-size: 20px;
}

.p-card .p-card-content {
    padding: .5rem 0;
}
.top_pedido_box{
	width: 100%;
	button{
		background-color: transparent;
		border: none;
		color: #FD6435;
		cursor: pointer;
	}
}