.p-steps, .p-steps-item, .p-steps .p-steps-item .p-menuitem-link {
    background-color: #f8faf9 !important;
}

.ui-progressbar.ui-widget-content {
    background-color:#9C27B0;
    background-image:none;
}