<div style="background-color: #f8faf9">
  <div class="flex flex-row mt-1" style="background-color: white">
    <div class="flex flex-column w-1 pl-3">
      <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-secondary p-button-text"
        (click)="closeSideBag()"></button>
    </div>
    <div class="pl-2 pb-4 text-2xl font-bold text-900">
      Bolsa de compras
    </div>
  </div>

  <div class="pb-4">
    <p-progressBar class="customProgress" [value]="valueProgress"
      [style]="{ height: '3px', background: '#9C27B0', color: '#ffffff' }"></p-progressBar>
  </div>

  <p-steps [model]="itemsSteps" [readonly]="false" class="stepsBag" (activeIndexChange)="onActiveIndexChange($event)">
  </p-steps>

  <div class="w-full min-h-full h-full background">
    <div class="mb-4">
      <router-outlet name="bag"></router-outlet>
    </div>

    <div class="flex flex-row background">
      <button pButton pRipple type="button" label="Continuar" *ngIf="valueProgress==50"
        class="p-button-rounded p-button-help mr-5 ml-auto" (click)="nextStep()"></button>
    </div>

    <div class="flex flex-row background pb-2">
      <div class="px-5" *ngIf="valueProgress==100">
        <p-checkbox [(ngModel)]="termsValue" [binary]="true"></p-checkbox>
        <label class="pl-3" for="terms">Texto con los <a class="purple font-bold cursor-pointer" (click)="navigateTerms()">términos y condiciones</a> para realizar el pedidoooo</label>
        <button pButton pRipple type="button" label="Enviar pedido"
          class="p-button-rounded px-3 ml-auto mr-5 pt-2" [disabled]="!termsValue" (click)="sendPedido()"></button>
      </div>
    </div>
  </div>
</div>
