.p-steps,
.p-steps-item,
.p-steps .p-steps-item .p-menuitem-link {
  background-color: red !important;
}

.ui-progressbar.ui-widget-content {
  background-color: #9c27b0;
  background-image: none;
}
.stepsBag {
  ::ng-deep.p-steps {
    background-color: #f8faf9;
    .p-steps-item {
      .p-menuitem-link {
        background-color: transparent;
        outline: none;
        .p-steps-title {
          color: #c9cac9;
          font-size: 14px;
        }
      }
      .p-steps-number {
        background-color: #f8faf9;
        border-color: #d8dad9;
        color: #c9cac9;
        font-size: 14px;
      }
      &::before {
        width: 50%;
        left: 50%;
        border-color: #d8dad9;
      }
      &:last-child {
        &::before {
          left: 0;
        }
      }
      .p-menuitem-link-active {
        &:parent {
          background-color: red !important;
        }
        .p-steps-number {
          border-color: #9c27b0;
          color: #9c27b0;
        }
        .p-steps-title {
          color: #9c27b0;
        }
      }
    }
  }
}


.btn_envio_pedido{
  background: #607d8b !important;
  border-color: #607d8b !important;
}
.close_btn_style{
  background-color: #f8faf9 !important;
}
::ng-deep .customProgress {
  .p-progressbar-value{
    background: #9c27b0 !important;
  }
}
@media screen and (max-width: 960px) {
  button {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}
