/* You can add global styles to this file, and also import other style files */
.arrow{
    // height: 3.5rem !important;
    // width: 3.5rem !important;
    // border-radius: 9999px !important;
    // background-color: white !important;
    // position: relative;
    // z-index: 9999 !important;
    // border-bottom: 5px solid #6A0136;
    // margin: 20px;
}

.arrow:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: 25px solid #6A0136;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    margin-top: 3.5rem !important;
}


app-searcher {
    position: absolute;
    z-index: 9999;
}

app-icons {
    position: absolute;
    z-index: 9999;
    bottom:0;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

.unsent{
    background-color: #FFECE6;
    color: #FD6435;
}

.refused{
    background-color: #FEE8E7;
    color: #F44336;
}

.confirmed{
    background-color: #E4F2FE;
    color: #2A9AF3;
}

.delievered{
    background-color: #E9F5EA;
    color: #4CAF50;
}

.textcenter {
    display: inline-block;
    vertical-align: middle;
}

.gray {
    color: #959595;
}

.green {
    color: #00695C;
}

.purple {
    color: #9C27B0;
}

.darkgray {
    color: #636464;
}

.cuttext {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.background {
    background-color: #f8faf9 !important;
}

.noborder{
    border: 0 !important;
}

.orange {
    color: #fe624b !important;
}

.cyan {
    color: #45d0bd !important;
}fff
.p-sidebar-header {
    padding: 10px 10px !important;
}
.sidebar_right .p-sidebar{
    background-color: #f8faf9;
}
.sidebar_right .p-sidebar .p-sidebar-header{
    background-color: #fff;
    padding: 0 !important;
}
.close__btn {
    border-radius: 50% !important;
    background-color: #f8faf9 !important;
}
.close__btn .pi{
    color: #0cc2a9
}