
<!-- LISTA DE TIENDAS -->
<div id="ng-chat-shop-list">
	<div class="chat-container absolute bottom-0 right-0 border-round">
		<span class="message-title">Mensajes</span>
		<div class="chat-shop-message-container" (click)="onChatInfoSelected('tiendi', ChatShopWindowsEnum.ngChatInfo)">
			<img src="../../../assets/perfil-tiendi-icono-invertido.png" alt="tiendi">
			<div class="shop-message-container">
				<div class="message-container">
					<span class="message">Quieres vender en Tiendi?</span>
					<span class="message-det">Descubre más...</span>
				</div>
			</div>
			<div class="shop-message-container-i">
				<i class="pi pi-chevron-right"></i>
			</div>
		</div>
		<div *ngFor="let user of sortedParticipants" class="chat-shop-message-container" (click)="onChatShopSelected(user, ChatShopWindowsEnum.ngChatShop)">
			<img src="../../../assets/perfil-tiendi-icono.png" alt="tiendi">
			<div class="shop-message-container">
				<div class="message-container">
					<div class="message-con">
						<span class="message">{{user.participant.displayName}}</span>
						<div *ngIf="user.metadata.totalUnreadMessages > 0" class="circulo"></div>
					</div>
					<span class="message-det">Pedido Nro. {{user.participant.ordernum}}</span>
				</div>
			</div>
			<div class="shop-message-container-i">
				<i class="pi pi-chevron-right"></i>
			</div>
		</div>
	</div>
</div>